.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.social-login {
 display: inline-flex;

}
.social-login a { 
  display: block;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  color: #fff;
  margin-right: 60px; }
  .social-login a:hover {
    color: #fff; }
  .social-login a.facebook {
    background: #3b5998; }
    .social-login a.facebook:hover {
      background: #344e86; }
  .social-login a.google {
    background: #ea4335; }
    .social-login a.google:hover {
      background: #e82e1e; }


.signUp{
  display: flex;
  
}
.signUp a{
  margin-left: 20px;
  text-decoration: none;
}

.forgot{
  display: flex;
justify-content: end; 
}
.forgot_pass{
  text-decoration: none;
  margin-bottom: 10px;
 
}






